## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,18,Road Town,VG,87.80,scattered clouds,18.42,-64.62,"ZINGARA 76ft Catamaran, full crew-all included"
1,19,North Platte,US,87.80,clear sky,41.12,-100.77,Holiday Inn Express & Suites North Platte
2,22,Kavaratti,IN,82.09,light rain,10.57,72.64,Bismillah Hotel And Lodging
3,24,Talavera De La Reina,ES,87.01,clear sky,39.96,-4.83,Be Live City Center Talavera
4,44,Georgetown,MY,80.60,few clouds,5.41,100.34,Cititel Penang

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
# Get the maximum temperature.
max_temp = vacation_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300,
                                point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [143]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Laguna']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Laguna']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'La Palma']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'San Marcos'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Barstow']

In [155]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
89,476,Laguna,US,84.0,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...

In [157]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,60,La Palma,US,86.0,clear sky,33.85,-118.05,La Quinta Inn & Suites by Wyndham Buena Park

In [158]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
63,363,San Marcos,US,93.0,clear sky,33.14,-117.17,Hampton Inn San Marcos

In [159]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
46,259,Barstow,US,93.2,clear sky,34.9,-117.02,"Motel 6 Barstow, CA"

In [145]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

In [146]:
start = (vacation_start['Lat'].to_list()[0], vacation_start['Lng'].to_list()[0])
end = (vacation_end['Lat'].to_list()[0], vacation_end['Lng'].to_list()[0])
stop1 = (vacation_stop1['Lat'].to_list()[0], vacation_stop1['Lng'].to_list()[0])
stop2 = (vacation_stop2['Lat'].to_list()[0], vacation_stop2['Lng'].to_list()[0])
stop3 = (vacation_stop3['Lat'].to_list()[0], vacation_stop3['Lng'].to_list()[0])

In [162]:
print(start)
print(stop1)
print(stop2)
print(stop3)

(38.42, -121.42)
(33.85, -118.05)
(33.14, -117.17)
(34.9, -117.02)

In [148]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
trip_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(trip_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [151]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,476,Laguna,US,84.0,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
1,60,La Palma,US,86.0,clear sky,33.85,-118.05,La Quinta Inn & Suites by Wyndham Buena Park
2,363,San Marcos,US,93.0,clear sky,33.14,-117.17,Hampton Inn San Marcos
3,259,Barstow,US,93.2,clear sky,34.90,-117.02,"Motel 6 Barstow, CA"

In [152]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [153]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300,
                                point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))